<%- include("partials/header");%>

    <div class="home">
        <h1>DashBoard</h1>
        <!-- <div class="homeBox">
            <p>
            </p>
        </div> -->
        <%if(texts.length === 0){%>
            <div class="homeBox">
                <h1>Sorry! No posts found</h1>
                <h1>Head over to compose to get started.</h1>
            </div>
        <%}%>
        <%for(var i=0;i<texts.length;i++){%>
            <div class="hRule"></div>
            <div class="homeBox">
                <form action="/blog/delete" method="post">
                    <h1>
                        <%= texts[i].name %>
                    </h1>
                    <div>
                        <p>
                            <%= texts[i].text.substring(0,80) %>
                        </p>
                        <span>
                            <a href="/blog/posts/<%= texts[i]._id %>">
                                <span>...
                                </span>
                            </a>
                            <a href="/blog/edit/<%= texts[i]._id %>">
                                <span class="material-symbols-outlined">edit</span>
                            </a>
                            <button id="delete" type="submit" name="deletePost" value="<%= texts[i]._id %>">
                                <span class="material-symbols-outlined">delete</span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
            <%}%>
    </div>
    <%- include("partials/footer");%>